

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="img/bg.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-black">
							<span>Kinh doanh</span>
							<h2>HẢI SẢN</h2>
							<p style="color: black">Hải sản là bất kỳ các sinh vật biển được sử dụng làm thực phẩm cho con người. Hải sản bao gồm các loại cá biển, động vật thân mềm. Ngoài ra, còn có các thực vật biển ăn được. Hải sản được sử dụng rộng rãi trên khắp thê giới mang lại giá trị dinh dưỡng cũng như kinh doanh rất cao. </p>
							<a href="#" class="site-btn sb-white">XEM CHI TIẾT</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>24h</span>
						<h2>HOT</h2>
						<p>Hải sản</p>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="img/bg-2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>Kinh doanh</span>
							<h2>Nông sản</h2>
							<p>Nông sản là sản phẩm hoặc bán thành phẩm của ngành sản xuất hàng hóa thông qua cây trồng và phát triển của cây trồng. Sản phẩm nông nghiệp bao gồm nhiều nhóm hàng thực phẩm, tơ sợi, nhiên liệu, nguyên vật liệu, các sản phẩm độc đáo đặc thù. Các sản phẩm nông sản chủ yếu được phát triển ở khu vực Đông Nam Á và mang lại giá trị kinh tế cao.</p>
							<a href="#" class="site-btn sb-white">XEM CHI TIẾT</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>24h</span>
						<h2>HOT</h2>
						<p>Nông sản</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- TOp các bài viết nổi bật -->
	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>CÁC BÀI VIẾT NỔI BẬT TRONG TUẦN</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<img class="imgbaiviet" src="./img/product/1.jpg">
						<div class="card" style="border: none;">
						  <div class="card-body">
						    <a href="#"><h5 class="card-title tieude">Mùa thu hoạch dâu, nông dân Hà Nội kiếm tiền triệu mỗi ngày.</h5></a>
						    <p class="card-text">24/10/2018</p>
						    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Nông sản</h6>
						   	<p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
						  </div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<img class="imgbaiviet" src="./img/product/2.jpg">
						<div class="card" style="border: none;">
						  <div class="card-body">
						    <a href="#"><h5 class="card-title tieude">Giá heo vẫn hơi khó lường trong những ngày qua</h5></a>
						    <p class="card-text">17/03/2019</p>
						    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Nông sản</h6>
						    <p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
						  </div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<img class="imgbaiviet" src="./img/product/3.jpg">
						<div class="card" style="border: none;">
						  <div class="card-body">
						    <a href="#"><h5 class="card-title tieude">Ngày càng có ít rau sạch</h5></a>
						    <p class="card-text">24/10/2018</p>
						    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Nông sản</h6>
						    <p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
						  </div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<img class="imgbaiviet" src="./img/product/4.jpg">
						<div class="card" style="border: none;">
						  <div class="card-body">
						    <a href="#"><h5 class="card-title tieude">Cá biển ngày càng lên giá</h5></a>
						    <p class="card-text">24/10/2018</p>
						    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Hải sản</h6>
						    <p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
						  </div>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="text-center pt-5">
				<button class="site-btn sb-line sb-dark">LOAD MORE</button>
			</div> -->
		</div>
	</section>

	<section class="product-filter-section">
		<div class="container">
			<div class="section-title">
				<h2>TOP 10 BÀI VIẾT ĐƯỢC XEM NHIỀU NHẤT</h2>
			</div>
			<div class="product-slider owl-carousel">
				<div class="product-item">
					<img class="imgbaiviet" src="./img/product/5.jpg">
					<div class="card" style="border: none;">
					  <div class="card-body">
					    <a href="#"><h5 class="card-title tieude">Đánh bắt mực ngày càng khó khăn hơn cho ngư dân,</h5></a>
					    <p class="card-text">14/04/2019</p>
					    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Hải sản</h6>
					    <p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
					  </div>
					</div>
				</div>
				<div class="product-item">
					<img class="imgbaiviet" src="./img/product/6.jpg">
					<div class="card" style="border: none;">
					  <div class="card-body">
					    <a href="#"><h5 class="card-title tieude">Ngày càng nhiều người dân Tây Nguyên bỏ trồng cafe</h5></a>
					    <p class="card-text">24/10/2018</p>
					    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Hải sản</h6>
					    <p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
					  </div>
					</div>
				</div>
				<div class="product-item">
					<img class="imgbaiviet" src="./img/product/7.jpg">
					<div class="card" style="border: none;">
					  <div class="card-body">
					    <a href="#"><h5 class="card-title tieude">Giá thuốc lá ngày càng giảm</h5></a>
					    <p class="card-text">24/10/2018</p>
					    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Hải sản</h6>
					    <p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
					  </div>
					</div>
				</div>
				<div class="product-item">
					<img class="imgbaiviet" src="./img/product/8.jpg">
					<div class="card" style="border: none;">
					  <div class="card-body">
					    <a href="#"><h5 class="card-title tieude">Sản xuất gạo ở Đồng bằng sông cửu long đang thu hoạch</h5></a>
					    <p class="card-text">24/10/2018</p>
					    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Hải sản</h6>
					    <p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
					  </div>
					</div>
				</div>
				<div class="product-item">
					<img class="imgbaiviet" src="./img/product/9.jpg">
					<div class="card" style="border: none;">
					  <div class="card-body">
					    <a href="#"><h5 class="card-title tieude">Bia được sử dụng nhiều hơn tại các tỉnh miền Đông Nam Bộ</h5></a>
					    <p class="card-text">24/10/2018</p>
					    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Hải sản</h6>
					    <p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	

	<section class="product-filter-section">
		<div class="container">
			<div class="section-title">
				<h2>TOP BÀI VIẾT MỚI NHẤT</h2>
			</div>
			<div class="product-slider owl-carousel">
				<div class="product-item">
					<img class="imgbaiviet" src="./img/product/5.jpg">
					<div class="card" style="border: none;">
					  <div class="card-body">
					    <a href="#"><h5 class="card-title tieude">Đánh bắt mực ngày càng khó khăn hơn cho ngư dân,</h5></a>
					    <p class="card-text">14/04/2019</p>
					    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Hải sản</h6>
					    <p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
					  </div>
					</div>
				</div>
				<div class="product-item">
					<img class="imgbaiviet" src="./img/product/6.jpg">
					<div class="card" style="border: none;">
					  <div class="card-body">
					    <a href="#"><h5 class="card-title tieude">Ngày càng nhiều người dân Tây Nguyên bỏ trồng cafe</h5></a>
					    <p class="card-text">24/10/2018</p>
					    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Hải sản</h6>
					    <p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
					  </div>
					</div>
				</div>
				<div class="product-item">
					<img class="imgbaiviet" src="./img/product/7.jpg">
					<div class="card" style="border: none;">
					  <div class="card-body">
					    <a href="#"><h5 class="card-title tieude">Giá thuốc lá ngày càng giảm</h5></a>
					    <p class="card-text">24/10/2018</p>
					    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Hải sản</h6>
					    <p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
					  </div>
					</div>
				</div>
				<div class="product-item">
					<img class="imgbaiviet" src="./img/product/8.jpg">
					<div class="card" style="border: none;">
					  <div class="card-body">
					    <a href="#"><h5 class="card-title tieude">Sản xuất gạo ở Đồng bằng sông cửu long đang thu hoạch</h5></a>
					    <p class="card-text">24/10/2018</p>
					    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Hải sản</h6>
					    <p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
					  </div>
					</div>
				</div>
				<div class="product-item">
					<img class="imgbaiviet" src="./img/product/9.jpg">
					<div class="card" style="border: none;">
					  <div class="card-body">
					    <a href="#"><h5 class="card-title tieude">Bia được sử dụng nhiều hơn tại các tỉnh miền Đông Nam Bộ</h5></a>
					    <p class="card-text">24/10/2018</p>
					    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Hải sản</h6>
					    <p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	


	<section class="product-filter-section">
		<div class="container">
			<div class="section-title">
				<h2>TOP BÀI VIẾT CỦA CÁC CHỦ ĐỀ</h2>
			</div>
			<div class="product-slider owl-carousel">
				<div class="product-item">
					<img class="imgbaiviet" src="./img/product/5.jpg">
					<div class="card" style="border: none;">
					  <div class="card-body">
					    <a href="#"><h5 class="card-title tieude">Đánh bắt mực ngày càng khó khăn hơn cho ngư dân,</h5></a>
					    <p class="card-text">14/04/2019</p>
					    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Hải sản</h6>
					    <p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
					  </div>
					</div>
				</div>
				<div class="product-item">
					<img class="imgbaiviet" src="./img/product/6.jpg">
					<div class="card" style="border: none;">
					  <div class="card-body">
					    <a href="#"><h5 class="card-title tieude">Ngày càng nhiều người dân Tây Nguyên bỏ trồng cafe</h5></a>
					    <p class="card-text">24/10/2018</p>
					    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Hải sản</h6>
					    <p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
					  </div>
					</div>
				</div>
				<div class="product-item">
					<img class="imgbaiviet" src="./img/product/7.jpg">
					<div class="card" style="border: none;">
					  <div class="card-body">
					    <a href="#"><h5 class="card-title tieude">Giá thuốc lá ngày càng giảm</h5></a>
					    <p class="card-text">24/10/2018</p>
					    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Hải sản</h6>
					    <p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
					  </div>
					</div>
				</div>
				<div class="product-item">
					<img class="imgbaiviet" src="./img/product/8.jpg">
					<div class="card" style="border: none;">
					  <div class="card-body">
					    <a href="#"><h5 class="card-title tieude">Sản xuất gạo ở Đồng bằng sông cửu long đang thu hoạch</h5></a>
					    <p class="card-text">24/10/2018</p>
					    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Hải sản</h6>
					    <p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
					  </div>
					</div>
				</div>
				<div class="product-item">
					<img class="imgbaiviet" src="./img/product/9.jpg">
					<div class="card" style="border: none;">
					  <div class="card-body">
					    <a href="#"><h5 class="card-title tieude">Bia được sử dụng nhiều hơn tại các tỉnh miền Đông Nam Bộ</h5></a>
					    <p class="card-text">24/10/2018</p>
					    <h6 class="card-subtitle mb-2 text-muted">Chuyên mục: Hải sản</h6>
					    <p style="color: black; text-align: justify;">Ngày nay người sử dụng đồ dùng ngày nhiều thế nên cần phải chú ý trong việc tiêu dùng các thực phẩm chức năng... </p>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	

	<!-- Banner section -->
	<section class="banner-section">
		<div class="container">
			<div class="banner set-bg" data-setbg="img/banner-bg.jpg">
				<div class="tag-new">NEW</div>
				<span>Nhà hàng hải sản</span>
				<h2>DIVISIMA</h2>
				<a href="#" class="site-btn">LIÊN HỆ NGAY</a>
			</div>
		</div>
	</section>
	<!-- Banner section end  -->
